@import url('https://fonts.googleapis.com/css?family=Kalam|Open+Sans');

$black: #3C3C3B;
$gray: #767674;
$button: #55aaff;

@import 'media';
@import 'mixins';
@import 'scrollbar';

html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  @include box(100vw, null, url('/images/greyfloral.png'));
  font-family: 'Open Sans', cursive;
  overflow-x: hidden;
  @include font-settings(12px, $gray, 400);
}

#root {
  @include box(100%, null);
  position: relative;
  padding: 25px 0;
}

// headers
h1 {
  font-family: 'Kalam';
  @include font-settings(24px, $black, 700);
}
h2 {
  @include font-settings(20px, $black, 700);
}
h3 {
  @include font-settings(16px, $black, 400);
}

// paragraph
p {
  font-style: italic;
}

// buttons
button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: $button;
}

.App {
  @include box(90%, null, #fff);
  @include border-radius(5px);
  margin: auto;
  padding: 15px;
  box-shadow: 0 0 5px 5px $black;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  @include respond-to(large-screens) {
    max-width: 1200px;
    height: 90vh;
    padding: 30px 75px 25px;
  }

  .recipeContainer {
    display: flex;
    flex-direction: column;
    h1 {
      @include text-fill-stroke($black);
    }
    @include respond-to(large-screens) {
      margin-top: 50px;
      flex-direction: row;
      flex: 1;
    }
    .recipes {
      text-align: center;
      padding: 0 10px;
      border: 3px solid $black;
      .RecipeList {
        list-style: none;
        padding: 0 10px;
        margin: 20px 0;
        max-height: 120px;
        overflow-y: auto;
        li {
          cursor: pointer;
          border-bottom: 1.3px solid $gray;
          max-width: 90%;
          margin: 0 auto;
          overflow-x: auto;
          &.active {
            @include transition-all(0.6s);
            @include font-settings(1.1rem, $black, 700);
            margin-bottom: 10px;
            border-bottom: 2px solid $black;
          }
        }
      }
      @include respond-to(large-screens) {
        flex: 0 1 30%;
        position: relative;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        h1 {
          margin: 15px 0 0;
        }
        .RecipeList {
          flex: 1;
          max-height: 80%;
          li {
            margin: 10px auto;
            padding: 10px 0;
            &.active {
              margin-bottom: 20px;
              font-size: 1.2rem;
            }
          }
        }
        button {
          @include position(absolute, null, null, 15px, null);
          width: 100%;
          margin: auto;
        }
      }
    }

    .RecipeDetail {
      padding: 15px;
      margin-top: 15px;
      border: 3px solid $black;
      position: relative;
      #chefhat {
        @include position(absolute, null, 25px, null, null);
      }

      .details {
        margin-bottom: 20px;
        overflow-y: auto;
        max-height: 300px;
        h2 {
          margin-top: 25px;
          max-width: 180px;
          overflow-x: auto;
        }
        .ingredients, .instructions {
          margin-top: 15px;
          h3 {
            margin-bottom: 5px;
          }
        }
        .bonappetite {
          margin-top: 25px;
          text-align: center;
          @include font-settings(null, $black, 700);
          span {
            position: relative;
            top: -55px;
          }
        }
      }

      button {
        display: block;
        margin: auto;
      }
      @include respond-to(large-screens) {
        flex: 0 1 70%;
        padding: 0 0 15px;
        margin-top: 0;
        margin-left: 25px;
        display: flex;
        flex-direction: column;
        h1 {
          margin: 15px;
        }
        #chefhat {
          @include position(absolute, 15px, 25px, null, null);
        }
        .details {
          max-height: 80%;
          height: 80%;
          margin-left: 75px;
          .ingredients, .instructions {
            margin-top: 25px;
            h3 {
              margin-bottom: 15px;
            }
          }
          .bonappetite {
            margin-top: 65px;
          }
        }
        button {
          @include position(absolute, null, 25px, 15px, null);
        }
      }
    }
  }
}

// modal contents
.ReactModal__Content {
  width: 50%;
  @include respond-to(sml-screens) {
    width: 80%;
  }
  form {
    padding: 25px;
    margin-top: 25px;
    & > * {
      display: block;
    }
    label {
      font-weight: bold;
      color: $black;
      margin-bottom: 5px;
    }
    input {
      margin-bottom: 25px;
      border: 1px solid $gray;
      padding: 5px;
      width: 100%;
    }
    textarea {
      width: 100%;
      resize: none;
      border: 1px solid $gray;
      padding: 5px;
      margin-bottom: 25px;
    }
  }
  button {
    float: right;
    margin: 10px;
    &#closeBtn {
      color: #ff3e03;
    }
    &#deleteBtn {
      color: #ffaa00;
    }
  }
}
