@import url('https://fonts.googleapis.com/css?family=Kalam|Permanent+Marker');

$black: #3C3C3B;

html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  font-family: 'Kalam', 'Permanent Marker', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App {
  width: 80vw;
  height: 90vh;
  border: 5px solid $black;
  img {
    max-width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 50px 0;
  }
}
